
<?php if ( ! empty( $image ) && ! empty( $sizes ) ) : ?>
<figure
<?php
if ( ! empty( $imageClassName ) ) :
    ?>
     class="<?php echo $imageClassName; ?>"<?php endif ?>>
    <img
        class="u-object-fit
        <?php
        if ( ! empty( $isContain ) ) :
            ?>
             is-contain<?php endif ?>"
        src="<?php echo $image['sizes'][ $sizes . 'Mobile' ]; ?>"
        alt="<?php echo $image['alt']; ?>"
        srcset="
            <?php echo $image['sizes'][ $sizes . 'XL' ]; ?> 1440w,
            <?php echo $image['sizes'][ $sizes . 'Desktop' ]; ?> 1024w,
            <?php echo $image['sizes'][ $sizes . 'Tablet' ]; ?> 960w,
            <?php echo $image['sizes'][ $sizes . 'Mobile' ]; ?> 480w
        "
        sizes="100vw">
</figure>
<?php endif ?>
